<!DOCTYPE html>
<html>
<head>
  <title>
  Resume Heading
  </title>

</head>
<body>
  <div class="container card bg-light">
    <div class="form-group col-12">
      <div class="display:block form-group col-12 col-sm-6 padding:30px 30px 30px 30px">

<form action="login/" method="post">
  
  {{form.as_p}}
  <div class="btn-group btn-group-toggle " data-toggle="buttons">
  
<button type="submit" class="btn btn-primary">Next</button>

</div>


</form>
      </div>
    </div>
  </div>
  
</body>

</html>